body {
    background-color: #8db9ba;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    background-color: #f1ae67;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    padding: 30px 30px;
    border-radius: 50px;
    margin: 50px 400px;
    border: solid;
    border-color: #f76866;  
}

h2 {
    color: #ef2063;
    font-size: 30px;
    margin: 65px 45px;

}

p {
    margin: 60px 50px 40px 40px;
    font-size: 18px;
}

div {
    text-align: center;
    margin-bottom: 80px;
}

.indexh2 {
    margin: 20px;
}
